<!-- Footer -->
<footer class="page-footer  mdb-color darken-3 font-small  pt-4">

  <!-- Footer Text -->
  <div class="container mt-5 mb-4 text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold" th:text="#{footer.headerleft.text}"></h5>
        <p th:text="#{footer.headerleft.description}"></p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold" th:text="#{footer.headerright.text}"></h5>
        <p th:text="#{footer.headerright.description}"></p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
      <span th:text="#{footer.copyright}"></span>
      <a th:href="@{/home}" th:text="#{footer.author}"></a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->